<launch>
    <node pkg="mrl_ipcamera" type="mrl_ipcamera" name="ipcam" output="screen">
        <param name="video_url" type="string" value="rtsp://184.72.239.149/vod/mp4:BigBuckBunny_175k.mov" />
        <param name="frame_id" type="string" value="cam0_link" />
        <remap from="camera/image" to="cam0/image_raw" />
    </node>
</launch>
